extends layout

block content
div.class="search-border"
  div.class="search-text" Find your next experience 
  nav.class="navbar navbar-light bg-light justify-content-center" aria-label="toggle-navigation"
  form.class="form-inline"
    input.class="form-control mr-sm-2" type="text" placeholder="Search events or categories"
    input.class="form-control mr-sm-2" type="text" placeholder="City or location"
    select.class = "custom-select"
      option.selected All Dates
        option.value="1"Today
        option.value="2">Tomorrow
        option.value="3">This Week
        option.value="4">This Weekend
        option.value="5">Next Week
        option.value="6">Next Month
    button.class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
