.form-group
  label(for="mainTitle") 파티명 (*) 
  textarea.form-control(name="mainTitle", rows="1" required)= question.mainTitle
  
  
.form-group
  label(for="title") 레이드 종류
  select(type = "text" id="title_selecter" class="custom-select d-block mb-2 mr-sm-2 mb-sm-0" required)
    option(value="") 선택...
    option(value="1") 안톤
    option(value="2") 루크
    option(value="3") 메가팬테스
  input.form-control(type="hidden", id="TITLE", name="title", placeholder="제목", value=question.title)

.form-group
    .form-check.form-check-inline
      label.form-check-label
        input.form-check-input(type="radio" name="SelectFee" id="FREE" value="0")
        span 공대
      label.form-check-label
        input.form-check-input(type="radio" name="SelectFee" id="NO_FREE" value="1")
        span 쩔
.form-group
    label(for="number_input")
      | 골드(만)
      input.form-control(type="number" value="0" name="number_input") 
.form-group
    label(for="datetime-star") 시작시간
      input.form-control(type="datetime-local" name="start_time" value="#{moment(Date.now).format('YYYY-MM-DD')}" id="datetime-start")
    label(for="datetime-end") 종료시간
      input.form-control(type="datetime-local" value="" id="datetime-end")
.form-group
  .form-row
    .col-4
      label(for="tanker") 탱커
      select(type = "text" id="TANK_NUM" class="custom-select mb-2 mr-sm-2 mb-sm-0" required)
        option(value="") 인원
        option(value="0") 0
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
      input.form-control(type="hidden", id="TANKER", name="tanker", placeholder="제목", value=question.tanker)      
    .col-4
      label(for="dealer") 딜러 
      select(type = "text" id="DEALER_NUM" class="custom-select mb-2 mr-sm-2 mb-sm-0" required)
        option(value="") 인원
        option(value="0") 0
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
      input.form-control(type="hidden", id="DEALER", name="dealer", placeholder="제목", value=question.dealer)
    .col-4
      label(for="buffer") 버퍼
      select(type = "text" id="BUFFER_NUM" class="custom-select mb-2 mr-sm-2 mb-sm-0" required)
        option(value="") 인원
        option(value="0") 0
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
      input.form-control(type="hidden", id="BUFFER", name="buffer", placeholder="제목", value=question.buffer)
.form-group
  label(for="content")  특이사항(클리어 전적 등) 
  textarea.form-control(name="content", rows="5" required)= question.content
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "" required)
.form-group
  label(for='img') 사진
  input.form-control(type="file", name="img")
    
script.
  $(function(){
    $('#FREE, #NO_FREE').change(function(){
      if($('#FREE').is(':checked')){
        this.form.number_input.disabled = true;
      }else if($('#NO_FREE').is(':checked')){
        this.form.number_input.disabled = false;
      }
    });
    
    $('#title_selecter').click(function () {
      var selected = $("#title_selecter > option:selected").text();
      $('#TITLE').val(selected);
    });
    
    $('#TANK_NUM').click(function () {
      var selected = $("#TANK_NUM > option:selected").text();
      $('#TANKER').val(selected);
    });
    
    $('#DEALER_NUM').click(function () {
      var selected = $("#DEALER_NUM > option:selected").text();
      $('#DEALER').val(selected);
    });
    
    $('#BUFFER_NUM').click(function () {
      var selected = $("#BUFFER_NUM > option:selected").text();
      $('#BUFFER').val(selected);
    });
    

  });
    
